[Unit]
Description=Yadreno VPN Bot
After=network.target

[Service]
Type=simple
User=root
# Путь по умолчанию, если вы устанавливали по инструкции
WorkingDirectory=/root/YadrenoVPN
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
